html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

body {
    background-color: #CAF0F8;
}

/* #navbar {
    background-color: #03045E;
    color: white;
    height: 100px;
    display: flex;
    align-items: center;
    padding: 0 10px;
} */

#navcolor {
    background-color: #03045E;
}

nav .navbar-nav a {
    color: white !important;
    }

#name {
    font-family: 'Kaushan Script', cursive;
    color: white;
    font-size: 35px;
    margin: 10px 0 5px 10px;
}

a {
    margin: 0 10px;
    text-decoration: none;
    color: white;
    height: 30px;
}

a:hover {
    color: rgb(217, 217, 217);
}

#miguel {
    border-radius: 50%;
    border: 2px solid #00B4D8;
    max-width: 350px;
    width: 50%;
    margin: 30px 0;
}

footer {
    background-color: #03045E;
    color: white;
    flex: 0;
    text-align: center;
}

footer p {
    margin: auto;
    padding: 20px 0;
}

main {
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

main p {
    padding: 0 20px;
}


#title {
    text-align: center;
}

#projects {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    max-width: 900px;

}

#projects div {
    flex: 1;
    background-color: #00B4D8;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#projects div img {
    max-width: 250px;
    object-fit: cover;
}

#projects div p {
    color: white;
    margin: auto;
}

#sec2 {
    margin-bottom: 25px;
}